/vendor/
/node_modules/
/public/storage
/storage/*.key
.env
.env.*
.phpunit.result.cache
.php-cs-fixer.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.pnpm-debug.log
.idea/
.vscode/
.DS_Store
/public/hot
/public/build/
/bootstrap/cache/*.php
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/.fleet/
